:root{
    --cor-de-fundo:   #5e5b5b;
    --cor-cabecalho:  #200609;
}
body{
    background-color: var(--cor-de-fundo);
    margin: 0;
}
.Burguer{
    padding-left: 5em;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    display: block;
}
cabecalho {
    color: rgb(253, 252, 252);
    background-color: rgb(247, 243, 244);
    display: flex;
    justify-content: space-around;
}

.cabecalho-imagem{
    width: 20%;
}